form fieldset{
    text-align: center;
}

fieldset{
    margin: auto;
    width: 500px;

}

header{
    position: relative;
    text-align: center;
}

legend{
    font-size: 30px;
    font-style: italic;
}

.text{
    justify-content: center;
}

body{
    background-color: antiquewhite;
}

input[type="submit"]:active{
    top: 3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

